*{
    font-family: sans-serif;
    box-sizing: border-box;
    /*transition: all 500ms;*/
    --bg-color-1: #121212;
    --bg-color-2: rgba(255,255,255,0.12);
    --text-color-1: #fff;
    --text-color-2: rgba(255,255,255,0.7);
    --text-color-disabled: rgba(255,255,255,0.5);
    --border-radi-card: 24px;
    --border-radi-card-content: 14px;
    --card-shadow: 0 0 20px 1px black;
}

body{
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    margin: 0;
    margin-top: 3rem;
    min-height: calc(100vh - 3rem);
    overflow-x: hidden;
}

header{
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px;
    box-shadow: 0 0 15px 1px black;
}

header>a{
    margin-right: auto;
    text-decoration: none;
    color: black;
}

footer{
    position: sticky;
    top: 100%;
}

.card{
    width: 95vw;
    max-width: 300px;
    height: 120vw;
    max-height: 380px;
}

article.card{
    /*background-color: white;*/
    background-color: var(--bg-color-2);
    margin: 16px;
    box-shadow:  rgba(0, 0, 0, 0.18) 0px 2px 4px, rgba(0, 0, 0, 0.15) 0px 0.5px 1px;
    /*box-shadow: 0 0 15px 1px black;*/
    /*border-radius: 8px;*/
    border-radius: var(--border-radi-card);
    overflow: hidden;

}

article.card *{
    text-decoration: none;
    color: unset;
}

article.card .banner{
    width: calc(100% - 2 * var(--border-radi-card-content));
    height: 60vw;
    max-height: 200px;
    background-position: center;
    background-size: cover;
    /*border-top-left-radius: 8px;
    border-top-right-radius: 8px;*/
    border-radius: var(--border-radi-card-content);
    margin: var(--border-radi-card-content);
    margin-block: var(--border-radi-card-content);
}

article.card .card-content{
    margin: 8px;
}

article.card:hover *{
    text-decoration: underline;
}

.category-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category-container{
    display: inline-block;
}

.category>h2{
    margin-left: 18px;
    margin-top: 24px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    max-width: 100vw;
}

.card-container>.card{
    flex: 0 0 auto;
}