/*
main>article{
    position: relative;
    bottom: 9vw;
    background-image: linear-gradient(transparent 0%, var(--bg-color-1) 2em);
}*/

h1{
    width: 100%;
    font-size: 2.8em;
    text-align: center;
}

h2,h3,h4,h5,h6{
    margin-top: 50px;
}

img.banner-image{
    width: 100vw;
    max-height: 50vh;
    object-fit: cover;
}

p video{
    width: 100%;
}

p img,p video,p iframe,figure img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 70vh;
}

p iframe{
    width: 100%;
}

iframe.yt-player{
    max-height: unset;
}

figure figcaption{
    display: block;
    text-align: center;
    font-style: italic;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}


p .audio-player,p audio[controls]{
    display: block;
    min-width: 250px;
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    background-color: var(--bg-color-2);
    box-shadow: var(--card-shadow);
}

@media screen and (max-width: 780px) {
    #content{
        width: 90vw !important;
    }
}


code{
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    display: inline-block;
    white-space: pre;
    max-width: 100%;
    overflow: scroll;
}