<div itemscope itemtype="https://schema.org/FAQPage">
    <h1 itemprop="name">Über uns</h1>
    <details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" open>
        <summary itemprop="name"><h2>Was ist die Journalismus-AG?</h2></summary>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
            <p itemprop="text">Die Journalismus-AG ist eine Arbeitsgemeinschaft der <a href="https://buessing.schule">Heinrich-Büssing-Schule aus Braunschweig</a> und besteht aus Schüler:innen, die sich für Journalismus interessieren.</p>
        </div>
    </details>
    <details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" open>
        <summary itemprop="name"><h2>Was macht die Journalismus-AG?</h2></summary>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
            <p itemprop="text">Die Schüler:innen der AG verfassen Artikel zu aktuellen und interessanten Themen und in der Politik, Umwelt, Sport und Technik. Diese werden auf der <a href="https://journalismus.ag">Website der Journalismus-AG</a> veröffentlicht.</p>
        </div>
    </details>
    <details itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" open>
        <summary itemprop="name"><h2>Wer leitet die Journalismus-AG?</h2></summary>
        <div itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
            <p itemprop="text">Die Journalismus-AG wird von dem Lehrer Herr Becker geleitet. Er lehrt Deutsch, Geschichte und Politik und ist auch unter dem Namen <a href="https://sprecher-becker.de">Sprecher Becker</a> als Sprecher und Journalist bekannt.</p>
        </div>
    </details>
</div>