<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/images/icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="<!--METADATA--&gt;">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="manifest" href="/manifest.json">
    <script>
        if(!window.matchMedia){
            window.matchMedia = function(mediaQuery){
                return {
                    "media":mediaQuery,
                    "matches":false
                };
            };
        }
    </script>
    <script defer src="/assets/scripts/layout.js"></script>
    <title>Blog Seite</title>
    <!--METADATA-->
</head>
<body>
    <header class="no-select no-drag">
        <a href="/"><!--SITENAME--></a>
        <button onclick="toggleMenu()" class="drawer-button">&equiv;</button>
        <nav style="left: -20000px;">
            <div class="drawer">
                <div class="drawer-head"><!--SITENAME--></div>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/category/hbs.html">Unsere Schule</a>
                <a class="nav-link" href="/category/politik.html">Politik</a>
                <a class="nav-link" href="/category/technik.html">Technik</a>
            </div>
            <div class="scrim" style="left: -20000px,"></div>
        </nav>
    </header>
    <main>
        <!--CONTENT-->
    </main>
    <footer>
        <hr>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/category/hbs.html">Unsere Schule</a>
            <a class="nav-link" href="/category/technik.html">Technik</a>
        </nav>
        <div>
            <span>Hell-/Dunkelmodus</span>
            <input checked type="checkbox" id="toggle-theme" class="toggle-checkbox">
            <label for="toggle-theme" class="toggle-label"></label>
        </div>
    </footer>
    <script>
        function subscribeAuthor(path){
            var subs = JSON.parse(localStorage.getItem("subs"))||[];
            if(subs.indexOf(path) === -1){
                subs.push(path);
                localStorage.setItem("subs",JSON.stringify(subs));
            }
            // Check if the Notification API is available in the browser
            if ("Notification" in window) {
                // Request permission to show notifications
                Notification.requestPermission().then(function(permission){
                    if (permission === "granted") {
                        // Permission has been granted, you can show notifications
                        //localStorage.setItem("subs","[\"sml\"]");
                    }
                });
            }
        }
        function unsubsscribeAuthor(path){
            var subs = JSON.parse(localStorage.getItem("subs"))||[];
            subs.splice(subs.indexOf(path),1);
            localStorage.setItem("subs",JSON.stringify(subs));
        }
        var themeButton = document.getElementById("toggle-theme");
        var currentTheme = matchMedia("(prefers-color-scheme: light)").matches;

        if(localStorage.getItem("lum")!==null){
            currentTheme = localStorage.getItem("lum")==="on";
        }

        function setLum(state,set){
            currentTheme = state;
            if(state){
                document.documentElement.classList.add("lum");
                localStorage.setItem("lum","on");
                if(set){
                    themeButton.checked = false;
                }
            }else{
                document.documentElement.classList.remove("lum");
                localStorage.setItem("lum","off");
                if(set){
                    themeButton.checked = true;
                }
            }
        }
        setLum(currentTheme,true);
        themeButton.addEventListener("change",function(){
            setLum(!currentTheme,false);
        });

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/service-worker.js");
            navigator.serviceWorker.ready.then(function(sW){
                sW.active.postMessage({
                    type:"init"
                });
                navigator.serviceWorker.addEventListener("message",function(event){
                    if(event.data.type === "syncLocalStorage"){
                        if(event.data.data){
                            console.log(event.data.data);
                            for(var key in event.data.data){
                                localStorage.setItem(key,event.data.data[key]);
                            }
                        }
                        sW.active.postMessage({
                            type:"localStorageData",
                            data:{...localStorage}
                        })
                    }
                })
            })
        }
    </script>
</body>
</html>