<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <script defer src="/assets/scripts/layout.js"></script>
    <!--METADATA-->
</head>
<body>
    <header>
        <a href="/"><!--SITENAME--></a>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/category/hbs.html">Unsere Schule</a>
            <a class="nav-link" href="/category/politik.html">Politik</a>
            <a class="nav-link" href="/category/technik.html">Technik</a>
        </nav>
    </header>
    <main>
        <!--CONTENT-->
    </main>
    <footer>
        <hr>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/category/hbs.html">Unsere Schule</a>
            <a class="nav-link" href="/category/technik.html">Technik</a>
        </nav>
    </footer>
</body>
</html>