<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!--METADATA-->
</head>
<body>
    <header>
        <a href="/">HBS News</a>
        <nav>
            <a href="/">Home</a>
            <a href="/category/regional.html">Regional</a>
            <a href="/category/technik.html">Technik</a>
        </nav>
    </header>
    <main>
        <!--CONTENT-->
    </main>
    <footer>
        <nav>
            <a href="/">Home</a>
            <a href="/category/regional.html">Regional</a>
            <a href="/category/technik.html">Technik</a>
        </nav>
    </footer>
</body>
</html>