<style>
    #tabs{
        position: sticky;
        display: flex;
        top: 55px;
        background-color: var(--bg-color-1);
        overflow-x: scroll;
        scrollbar-width: none;
        scrollbar-gutter: stable;
    }
    .tablink{
        border: none;
        margin-top: 2px;
        padding: 8px;
        color: var(--text-color-1);
        background-color: transparent;
        flex-grow: 1;
        box-shadow: inset 0 -2px 0 0 var(--text-color-1);
    }
    .tablink.activeTab{
        background-color: var(--bg-color-1-5);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        box-shadow: inset 0 -2px 0 0 var(--color-primary);
    }
    .tabcontent{
        height: 100%;
        overflow: auto;
    }
    main{
        //height: calc(100vh - 12.4rem);
    }
    .articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .articles>*{
        height: 40vh;
        max-width: 400px;
        display: inline-flex;
        flex-direction: column;
        max-height: 500px;
        width: 40vw;
        min-width: 280px;
        margin: 1rem;
        background-color: var(--bg-color-1-5);
        border-radius: var(--border-radi-card);
        padding: 2rem;
    }
    .list-col{
        height: 20px;
        overflow: hidden;
    }
    .list-col.long{
        height: 8ch;
    }
    .tabcontent button{
        margin: 0.2rem auto;
        display: block;
        color: #fff;
        background-color: #0078D4;
        background-color: var(--color-primary);
        border-radius: 24px;
        padding: 8px 16px;
        text-decoration: none;
        border: none;
        font-size: 18px;
        -webkit-box-shadow: rgba(0,0,0,0.18) 0px 2px 4px,rgba(0,0,0,0.15) 0px 0.5px 1px;
        box-shadow: rgba(0,0,0,0.18) 0px 2px 4px,rgba(0,0,0,0.15) 0px 0.5px 1px;
        width: 300px;
        max-width: 100%;
        height: auto;
    }
    button.first{
        margin-top: auto;
    }
    #editor-window{
        position: fixed;
        inset: 0;
        background-color: var(--bg-color-1);
        z-index: 1000;
    }
    #editor-window.closed{
        display: none;
    }
    .editor-window-titlebar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .editor-window-close{
        border: none;
        background-color: red;
        color: #fff;
    }
    .editor-window-content{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 50px;
    }
    .editor-window-content>.md-edit{
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
        outline: none;
    }

    .line-graph{
        background-color: red;
    }
    .line-graph>*{
        width: 20px;
        background-color: white;
    }
</style>
<div id="tabs">
    <button class="tablink activeTab" id="Artikel">Artikel</button>
    <button class="tablink" id="Kategorien">Kategorien</button>
    <button class="tablink" id="Dateien">Dateien</button>
    <button class="tablink" id="Neu">Neu</button>
    <button class="tablink" id="Debugging">Debugging</button>
    <button class="tablink" id="Einstellungen">Einstellungen</button>
</div>
<div class="tabcontent" id="ArtikelTab"></div>
<div class="tabcontent" id="KategorienTab" style="display: none;">Kategorien</div>
<div class="tabcontent" id="DateienTab" style="display: none;">Dateien</div>
<div class="tabcontent" id="NeuTab" style="display: none;">
    <button>Artikel erstellen</button>
    <button>Kategorie erstellen</button>
</div>
<div class="tabcontent" id="DebuggingTab" style="display: none;">
    <div class="server-debug-panel">
        <div>
            <span class="node-v">node.js: -.-.-</span>
            <span class="jag-v">jag: -.-.-</span>
            <span class="hostname"></span>
            <span class="arch">x64</span>
            <span class="os-platform"></span>
        </div>
        <div>
            <div class="cpu-usage">
                <h3>CPU Usage</h3>
                <div class="line-graph"></div>
            </div>
        </div>
    </div>
</div>
<div class="tabcontent" id="EinstellungenTab" style="display: none;">Einstellungen</div>
<div id="editor-window" class="closed">
    <div class="editor-window-titlebar">
        <div class="editor-window-titlebar">Title</div>
        <button class="editor-window-close">X</button>
    </div>
    <div class="editor-window-content"></div>
</div>
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.3/tui-editor.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.3/tui-editor-Editor.min.js"></script-->
<script>
    function loadMetadataEditor(id,metadata){
        var editorContent = `<div class="metadata-editor"><input type="text" value="${metadata.title||""}"><br>
        <input type="text" value="${id||""}"><br>
        <textarea>${metadata.description||""}</textarea></div>
        <div class="tmce"></div>`;
        document.querySelector(".editor-window-content").innerHTML = editorContent;
    }
    function loadContentEditor(id,content){
        var editorContent = `<textarea class="md-edit"></textarea>`;
        document.querySelector(".editor-window-content").innerHTML = editorContent;
        document.querySelector(".md-edit").value = content;
        document.querySelector(".md-edit").addEventListener("keyup",function(ev){
            callAPI("SchreibeArtikelInhalt",{id:id,content:ev.target.value});
        })
    }
    function toggleEditor(){
        document.querySelector("#editor-window").classList.toggle("closed");
    }
    document.querySelector("button.editor-window-close").addEventListener("click",toggleEditor);
    var tablinks = document.querySelectorAll(".tablink");
    var tabcontents = document.querySelectorAll(".tabcontent");
    for(var i = 0;i < tablinks.length;i++){
        tablinks[i].addEventListener("click",function(e){
            openTab(e.target.id);
        })
    }
    function openTab(tab){
        for(var i = 0;i < tablinks.length;i++){
            tablinks[i].classList.remove("activeTab");
        }
        for(var i = 0;i < tabcontents.length;i++){
            tabcontents[i].style.display = "none";
        }
        document.getElementById(tab).classList.add("activeTab");
        document.getElementById(tab+"Tab").style.display = "block";
    }
    function date2ISO(string){
        var date = string.split(".").reverse().map(str => parseInt(str, 10));
        date[1]--;
        date[2]++;
        return (new Date(...date)).toISOString().split('T')[0];
    }
    function sortArticles(array) {
        return array.sort(function(a, b){
          const dateA = new Date(date2ISO(a.metadata.published));
          const dateB = new Date(date2ISO(b.metadata.published));
          
          // Compare the dates in descending order
          if (dateA > dateB) return -1;
          if (dateA < dateB) return 1;
          
          return 0; // Dates are equal
        });
    }
    class ArticleItem{
        constructor(id,data){
            var glob = this;
            this.id = id;
            this.data = data;
            this.el = document.createElement("div");
            this.el.classList.add("list-row");
            this.el.classList.add("card");
            this.el.innerHTML = `<span class="list-col short">${data.title}</span>
            <a class="list-col short" href="/article/${this.id}.html">/article/${this.id}.html</a>
            <span class="list-col long">${this.data.description}</span>
            <span class="list-col short">${this.data.authors.join(",")}</span>
            <button class="action-edit-metadata list-col short first">Metadaten bearbeiten</button>
            <button class="action-edit-content list-col short">Inhalt bearbeiten</button>`;
            this.el.querySelector("button.action-edit-metadata").addEventListener("click",function(){
                loadMetadataEditor(glob.id,glob.data);
                toggleEditor();
            });
            this.el.querySelector("button.action-edit-content").addEventListener("click",function(){
                callAPI("LeseArtikelInhalt",glob.id,null,function(content){
                    loadContentEditor(glob.id,content);
                    toggleEditor();
                });
            });
        }
    }
    class Articles{
        constructor(){
            this.articles = [];
            this.el = document.createElement("div");
            this.el.classList.add("articles");
        }
        addArticle(article){
            if(!this.existsArticle(article)){
                this.articles.push(article);
            }
        }
        existsArticle(article){
            for(var i of this.articles){
                if(i.id === article.id){
                    return true;
                }
            }
            return false;
        }
        appendTo(element){
            element.appendChild(this.el);
        }
        render(){
            for(var i of this.articles){
                this.el.appendChild(i.el);
            }
        }
    }
    function callAPI(command,data,responseType,callback){
        var fd = new FormData();
        fd.append("action",command);
        var req = new XMLHttpRequest();
        req.open("POST","/al",true);
        req.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        req.responseType = responseType;
        req.onload = function(ev){
            if(typeof callback ==="function"){
                callback(ev.target.response);
            }
        }
        if(typeof data === "undefined" || data === null || data === undefined){
            data = undefined;
        }
        if(["string","number","boolean"].includes(typeof data) ||
        (!["null","undefined"].includes(typeof data) && [Object,Array].includes(data.constructor))){
            data = JSON.stringify(data);
        }
        req.send("action="+command+(data?"&data="+encodeURIComponent(data+""):""));
    }
    var art = new Articles();
    art.appendTo(document.querySelector("#ArtikelTab"));
    callAPI("LeseArtikelListe",null,"json",function(d){
        for(var i of d){
            callAPI("LeseArtikelMetadaten",i,"json",function(data){
                art.addArticle(new ArticleItem(...data));
                //loadMetadataEditor(...data);
                art.render();
            });
        }
        art.render();
    });
    callAPI("LeseNutzerRechte",null,"json",function(data){
        if(data.dev){
            startServerDebug();
        }else{
            document.querySelector("#Debugging").style.display = "none";
        }
    });
    function startServerDebug(){
        var eventSource = new EventSource("/dbg-api");

        eventSource.onmessage = (event) => {
            var data = JSON.parse(event.data);
            console.log(data);
            document.querySelector(".server-debug-panel .node-v").innerText = "node.js: "+data.versions.node;
            document.querySelector(".server-debug-panel .jag-v").innerText = "jag: "+data.versions.jag;
            document.querySelector(".server-debug-panel .hostname").innerText = data.stats.hostname;
            document.querySelector(".server-debug-panel .arch").innerText = data.stats.arch;
            document.querySelector(".server-debug-panel .os-platform").innerText = data.stats.os + " " + data.stats.platform;
            var cpuUsage = document.querySelector(".server-debug-panel .mem-usage .line-graph");
            cpuUsage.innerHTML += "<div style=\"height:" + (100 - data.stats.cpuUsagePercent) + "%\"></div>";
            //document.querySelector(".server-debug-panel").innerHTML = event.data;
        };

        eventSource.onerror = (error) => {
            console.error('EventSource failed:', error);
            eventSource.close();
        };
    }
</script>