<style>
    #tabs{
        display: flex;
    }
    .tablink{
        flex-grow: 1;
    }
    .tablink.activeTab{
        background-color: red;
    }
    .tabcontent{
        height: 100%;
        overflow: auto;
    }
    main{
        height: calc(100vh - 11.5rem);
    }
    .articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .articles>*{
        height: 40vh;
        max-width: 400px;
        display: inline-flex;
        flex-direction: column;
        max-height: 500px;
        width: 40vw;
        margin: 1rem;
        background-color: var(--bg-color-1-5);
        border-radius: var(--border-radi-card);
        padding: 2rem;
    }
    .list-col{
        height: 20px;
        overflow: hidden;
    }
    .list-col.long{
        height: 8ch;
    }
    .tabcontent button{
        margin: 0.2rem auto;
        display: block;
        color: #fff;
        background-color: #0078D4;
        background-color: var(--color-primary);
        border-radius: 24px;
        padding: 8px 16px;
        text-decoration: none;
        border: none;
        font-size: 18px;
        -webkit-box-shadow: rgba(0,0,0,0.18) 0px 2px 4px,rgba(0,0,0,0.15) 0px 0.5px 1px;
        box-shadow: rgba(0,0,0,0.18) 0px 2px 4px,rgba(0,0,0,0.15) 0px 0.5px 1px;
        width: 300px;
        height: auto;
    }
    button.first{
        margin-top: auto;
    }
    #editor-window{
        position: fixed;
        inset: 0;
        background-color: var(--bg-color-1);
        z-index: 1000;
    }
    #editor-window.closed{
        display: none;
    }
</style>
<div id="tabs">
    <button class="tablink activeTab" id="Artikel">Artikel</button>
    <button class="tablink" id="Kategorien">Kategorien</button>
    <button class="tablink" id="Dateien">Dateien</button>
    <button class="tablink" id="Debugging">Debugging</button>
    <button class="tablink" id="Einstellungen">Einstellungen</button>
</div>
<div class="tabcontent" id="ArtikelTab"></div>
<div class="tabcontent" id="KategorienTab" style="display: none;">Kategorien</div>
<div class="tabcontent" id="DateienTab" style="display: none;">Dateien</div>
<div id="editor-window" class="closed">
    <div class="editor-window-titlebar">
        <div class="editor-window-titlebar">Title</div>
        <button class="editor-window-close">X</button>
    </div>
    <div class="editor-window-content"></div>
</div>
<script>
    function loadMetadataEditor(id,metadata){
        var content = `<input type="text" value="${metadata.title||""}"><br>
        <input type="text" value="${id||""}"><br>
        <textarea>${metadata.description||""}</textarea>`;
        document.querySelector(".editor-window-content").innerHTML = content;
    }
    function toggleEditor(){
        document.querySelector("#editor-window").classList.toggle("closed");
    }
    var tablinks = document.querySelectorAll(".tablink");
    var tabcontents = document.querySelectorAll(".tabcontent");
    for(var i = 0;i < tablinks.length;i++){
        tablinks[i].addEventListener("click",function(e){
            openTab(e.target.id);
        })
    }
    function openTab(tab){
        for(var i = 0;i < tablinks.length;i++){
            tablinks[i].classList.remove("activeTab");
        }
        for(var i = 0;i < tabcontents.length;i++){
            tabcontents[i].style.display = "none";
        }
        document.getElementById(tab).classList.add("activeTab");
        document.getElementById(tab+"Tab").style.display = "block";
    }
    function date2ISO(string){
        var date = string.split(".").reverse().map(str => parseInt(str, 10));
        date[1]--;
        date[2]++;
        return (new Date(...date)).toISOString().split('T')[0];
    }
    function sortArticles(array) {
        return array.sort(function(a, b){
          const dateA = new Date(date2ISO(a.metadata.published));
          const dateB = new Date(date2ISO(b.metadata.published));
          
          // Compare the dates in descending order
          if (dateA > dateB) return -1;
          if (dateA < dateB) return 1;
          
          return 0; // Dates are equal
        });
    }
    class ArticleItem{
        constructor(id,data){
            this.id = id;
            this.data = data;
            this.el = document.createElement("div");
            this.el.classList.add("list-row");
            this.el.classList.add("card");
            this.el.innerHTML = `<span class="list-col short">${data.title}</span>
            <a class="list-col short" href="/article/${this.id}.html">/article/${this.id}.html</a>
            <span class="list-col long">${this.data.description}</span>
            <span class="list-col short">${this.data.authors.join(",")}</span>
            <button class="list-col short first">Metadaten bearbeiten</button>
            <button class="list-col short">Inhalt bearbeiten</button>`;
        }
    }
    class Articles{
        constructor(){
            this.articles = [];
            this.el = document.createElement("div");
            this.el.classList.add("articles");
        }
        addArticle(article){
            if(!this.existsArticle(article)){
                this.articles.push(article);
            }
        }
        existsArticle(article){
            for(var i of this.articles){
                if(i.id === article.id){
                    return true;
                }
            }
            return false;
        }
        appendTo(element){
            element.appendChild(this.el);
        }
        render(){
            for(var i of this.articles){
                this.el.appendChild(i.el);
            }
        }
    }
    function callAPI(command,data,responseType,callback){
        var fd = new FormData();
        fd.append("action",command);
        var req = new XMLHttpRequest();
        req.open("POST","/al",true);
        req.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        req.responseType = responseType;
        req.onload = function(ev){
            if(typeof callback ==="function"){
                callback(ev.target.response);
            }
        }
        if(typeof data === "undefined" || data === null || data === undefined){
            data = undefined;
        }
        if(["string","number","boolean"].includes(typeof data) ||
        (!["null","undefined"].includes(typeof data) && [Object,Array].includes(data.constructor))){
            data = JSON.stringify(data);
        }
        req.send("action="+command+(data?"&data="+encodeURIComponent(data+""):""));
    }
    var art = new Articles();
    art.appendTo(document.querySelector("#ArtikelTab"));
    callAPI("LeseArtikelListe",null,"json",function(d){
        for(var i of d){
            callAPI("LeseArtikelMetadaten",i,"json",function(data){
                art.addArticle(new ArticleItem(...data));
                loadMetadataEditor(...data);
                art.render();
            });
        }
        art.render();
    });
</script>