
<style>
    main>p{
        margin-left: 2.4rem;
    }
</style>
<h1>Datenschutzerklärung für die Website journalismus.ag</h1>

<p>Stand: 10.11.2023</p>

<ol>
    <li>
        <h2>Verantwortliche Stelle</h2>

        <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze ist:<br>
            Thomas Becker<br>   
            Blankenburgerstr. 32<br>
            38302 Wolfenbüttel<br>
        </p>
    </li>
    <li>
        <h2>Allgemeines zur Datenverarbeitung</h2>

        <p>
            Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. 
            Soweit auf unseren Seiten personenbezogene Daten (z.B., Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. 
            Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
        </p>
    </li>
    <li>
        <h2>Cookies</h2>

        <p>
            Wir setzen auf unserer Website keine eigenen Cookies ein. 
            Jedoch können Drittanbieter-Cookies verwendet werden. 
            Diese können beispielsweise durch eingebettete Inhalte von YouTube oder durch externe Bilder entstehen. 
            Durch die Nutzung unserer Website erklären Sie sich mit der Verwendung von Drittanbieter-Cookies einverstanden.
        </p>
    </li>
    <li>
        <h2>YouTube</h2>

        <p>
            Auf unserer Website können eingebettete Videos über einen YouTube-Player abgerufen werden. 
            Dabei werden Daten an YouTube übermittelt. Diese Datenverarbeitung unterliegt den Datenschutzbestimmungen von YouTube. 
            Die Datenschutzerklärung von YouTube finden Sie unter: <a href="https://developers.google.com/youtube/terms/api-services-terms-of-service-emea-de">https://developers.google.com/youtube/terms/api-services-terms-of-service-emea-de</a>.
        </p>

        <p>
            Um Ihre Daten bei YouTube zu löschen, folgen Sie bitte den Anweisungen in der Datenschutzerklärung von YouTube oder besuchen Sie Ihr Google-Konto.
        </p>
    </li>
    <li>
        <h2>Server-Logs</h2>

        <p>
            Auf unserem Server werden in den Logs lediglich folgende anonymisierte Daten gespeichert: 
        </p>
        <ul>
            <li>Zeitstempel</li>
            <li>HTTP-Anfragemethode</li>
            <li>Anfrage-URL</li>
            <li>Statuscode</li>
            <li>HTTP-Antwortparameter</li>
        </ul>
        <p>
            Diese Daten dienen ausschließlich statistischen Zwecken und werden nicht an Dritte weitergegeben. 
            Die Server-Logs werden regelmäßig gelöscht, um die Privatsphäre der Nutzer zu schützen.
        </p>
    </li>
    <li>
        <h2>LocalStorage</h2>

        <p>
            Wir haben im Footer unserer Website einen Switch für das bevorzugte Theme, dessen Wert im LocalStorage gespeichert wird. 
            Um den LocalStorage zu löschen, können Sie die entsprechenden Einstellungen in Ihrem Browser vornehmen. 
            Die genaue Vorgehensweise ist browserabhängig. 
            In den Einstellungen Ihres Browsers finden Sie Informationen zur Verwaltung von Cookies und lokalen Speichereinstellungen.
        </p>
    </li>
    <li>
        <h2>Externe Bilder</h2>

        <p>
            Es besteht die Möglichkeit, dass externe Bilder auf unserer Website eingebunden sind, die Cookies nutzen oder Serveranfragedaten speichern. 
            Bitte beachten Sie die Datenschutzerklärungen der entsprechenden Drittanbieter, um Informationen darüber zu erhalten, wie Ihre Daten verarbeitet werden.
        </p>
    </li>
    <li>
        <h2>Einwilligung</h2>

        <p>
            Durch den ersten Seitenaufruf unserer Website erklären Sie sich mit dieser Datenschutzerklärung einverstanden.
        </p>
    </li>
    <li>
        <h2>Änderungen der Datenschutzerklärung</h2>

        <p>
            Diese Datenschutzerklärung kann aktualisiert werden, um Änderungen in unserer Datenverarbeitungspraxis zu reflektieren. 
            Wir empfehlen Ihnen, diese Seite regelmäßig zu besuchen, um über etwaige Aktualisierungen informiert zu sein.
        </p>
    </li>
</ol>
        
<p>
    Für weitere Fragen zu unserer Datenschutzerklärung stehen wir Ihnen gerne zur Verfügung. 
    Kontaktieren Sie uns unter <a href="mailto:jochem.sam@buessing.schule">jochem.sam@buessing.schule</a>.
</p>


















